*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Roboto Condensed", serif;
  background-color: #fafaf8;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 15px;

  height: 100px;
  background-color: white;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.10),0px 1px 2px 0px rgba(0,0,0,0.06);

}
header >img {
  width: 40px;
}

header>h1{
  font-weight:400;
  color: rgb(43, 42, 42);
}

main{
  padding:  40px 35px;
}

.add-ingredient-form{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 25px;
  height: 38px;
}

.add-ingredient-form >input{
  border-radius: 6px;
  border: 1px solid #d1d5db;
  padding:  10px 15px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0.05);

  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
}

.add-ingredient-form >button {
  font-family: "Roboto Condensed", serif;
  border-radius: 7px;
  border: none;

  background-color: #141413;
  color: #fafaf8;

  width: 150px;
  font-size: 1rem;

  font-weight: 500;;

}

.add-ingredient-form >button::before{
  content: "+";
  margin: 5px;
}